@charset "ISO-8859-1";

header {
	background: url("../imagen/lossolfamitas.png") no-repeat;
	margin-left: 30%;
	padding: 20px 0 0 10px;
	max-width: 100%;
	max-height: 100%;
}

header h1 {
	color: #ffffff;
	padding: 40px;
	text-align: center;
	font-size: 200%;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-size: cover;
	background: #D4D4D4;
}

.box {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-10%, -50%);
	width: 600px;
	padding: 40px;
	background: rgba(0, 0, 0, .8);
	box-sizing: border-box;
	box-shadow: 0 0 0 rgba(0, 0, 0, .5);
	border-radius: 10px;
}


.box_reportes {
	top: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	padding: 20px;

}

.container .boton_flex {
	display: flex;
	justify-content: center;
}

.box_file {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-10%, -50%);
	width: 500px;
	padding: 40px;
	background: rgba(0, 0, 0, .8);
	box-sizing: border-box;
	box-shadow: 0 0 0 rgba(0, 0, 0, .5);
	border-radius: 30px;
}

.box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.box .inputBox {
	position: relative;
}

.box .inputBox input {
	width: 80%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	border-color: #CD43EC;
	outline: none;
	background: transparent;
}

/*mensaje mostrar contraseña*/
.pwdtxt, .icon {
	color: #fff;
}

.pwdtxt:hover, .icon:hover {
	color: #ff00ff;
}
/*fin de estilo mostrar contraseña*/
.box .inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 1px;
	padding: 10px 0;
	font-size: 12px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

.box .inputBox input:focus ~ label, .box .inputBox input:valid ~ label {
	top: -18px;
	left: 0;
	color: #ffffff;
	font-size: 11px;
}

.box .grupo_boton .submit {
	position: relative;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #CD43EC;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	margin: 5px;
	width: 120px;
	height: 40px;
}

.box .grupo_boton .submit_boton {
	padding: 10px 10px;
	margin: 5px;
	width: 550px;
	height: 60px;
}

.box .grupo_boton .submit:hover {
	background: #FF00BF;
}

.box input[type="number"]::-webkit-inner-spin-button, .box input[type="number"]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.box input[type="number"] {
	-moz-appearance: textfield;
}

.add_texto {
	position: absolute;
	top: -5px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.grupo_file {
	position: relative;
	padding: 10px 10px;
	width: 50%;
	background-color: #CD43EC;
	border-radius: 5px;
	outline: none;
	box-shadow: 0px 3px 0px #CD43EC;
	height: 10%;
	left: 30px;
}

.grupo_file:hover {
	background-color: #FF00BF;
	box-shadow: 0px 3px 0px #FF00BF;
}

.file {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.wrap {
	width: 800px;
	max-width: 100%;
	margin: 20px auto;
}

ul.tabs {
	width: 100%;
	background: #363636;
	list-style: none;
	display: flex;
	border-radius: 15px;
}

ul.tabs li:hover {
	background: #ff00ff;
}

ul.tabs li {
	width: 16%;
}

ul.tabs li a {
	color: #fff;
	text-decoration: none;
	font-size: 10px;
	text-align: center;
	display: block;
	padding: 15px 0px;
}

.active {
	background: #CD43EC;
}

ul.tabs li a .tab-text {
	margin-left: 15px;
}

@media screen and (max-width: 700px) {
	ul.tabs li {
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
	.box {
		position: absolute;
		top: 90%;
		left: 50%;
		max-width: 100%;
		padding: 50px;
		background: rgba(0, 0, 0, .8);
		box-sizing: border-box;
		box-shadow: 0 0 0 rgba(0, 0, 0, .7);
		border-radius: 10px;
	}
	.box .form {
		display: grid;
		grid-template-columns: 1fr;
		font-size: 12px;
	}
	.form .grupo_boton {
		display: grid;
		grid-template-columns: 1fr;
	}
	.box .inputBox input {
		width: 100%;
	}
	.icon {
		position: absolute;
		right: 90%;
		top: 140px;
		font-size: 15px;
	}
	.pwdtxt {
		font-size: 12px;
		position: absolute;
		left: 150%;
	}
}

@media screen and (max-width: 550px) {
	ul.tabs li a {
		padding: 15px 0px;
	}
	ul.tabs li a .tab-text {
		display: none;
	}
	.box {
		top: 80%;
		left: 50%;
		transform: translate(30%, -50%);
		max-width: 100%;
		padding: 50px;
		background: rgba(0, 0, 0, .8);
		box-sizing: border-box;
		box-shadow: 0 0 0 rgba(0, 0, 0, .7);
		border-radius: 10px;
	}
	.box .form {
		display: grid;
		grid-template-columns: 1fr;
		font-size: 12px;
	}
	.form .grupo_boton {
		display: grid;
		grid-template-columns: 1fr;
	}
	.box .inputBox input {
		width: 100%;
	}
}
/*formulario*/
.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.form .grupo_boton {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 10%;
}

.alert {
	width: 250px;
	padding: 5px;
	margin-top: 10px;
	color: #CD43EC;
	display: none;
}

/*iframe para la tabla*/
.bdtable {
	border: 1px solid #CD43EC;
	width: 600px;
	height: 400px;
	transform: translate(10%, 15%);
	border-radius: 5%;
}

.output {
	background: #eee;
}
/*iframe para pagina ventas*/
.ventas {
	margin: 0;
	padding: 0;
	height: 1000px;
	width: 100%;
	display: block;
	border: none;
}