@charset "ISO-8859-1";

table {
   width: 100%;
   border: double;
   border-color: #CD43EC;

   
}
th, td {
   width: 55%;
   border: 1px solid;
   border-color: #CD43EC;
   text-align: center;

   
   
}
caption {
   padding: 0.3em;
}
th{
	 background: #CD43EC;
}

.submit{
	border-radius: 2px;
	color: white;
}

.actualizar{
	background-color: #8000ff;
	
}

.eliminar{
	background: #ff00ff;
}